/* Write your CSS here */
.container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todos {
  background-color: #ffff;
  margin: 20px;
  border-radius: 10px;
  padding: 20px 80px;
  width: 700px;
}
.heading {
  margin-bottom: 50px;
  text-align: center;
  color: #ff8542;
}
